# *
.DS_Store
*~

# /codebase/
/codebase/build
/codebase/logs
/codebase/dist

# /scripts
/scripts/windows/vc8/**/*.ncb
/scripts/windows/vc8/**/*.user
/scripts/windows/vc8/**/*.suo
/scripts/windows/vc10/ipch
/scripts/windows/vc10/**/*.user
/scripts/windows/vc10/**/*.sdf
/scripts/windows/vc10/**/*.suo
